{% extends 'todo/base.html' %} {% block content %}
<div>
    <h1>
        MY COMPLETED TODOS
    </h1>
    <ul class="todo-div">
        {% for todo in todos %}
        <li class="todos">

            {% if todo.important %}

            <b><a href="{% url 'viewtodo' todo.id %}">{{todo.title}}</a></b> {% else %}

            <a href="{% url 'viewtodo' todo.id %}">{{todo.title}} </a> {% endif %} {% if todo.memo %} -{{todo.memo}} {% endif %} {{todo.dateCompleted|date:'M j Y H:i'}}
        </li>
        {% endfor %}
    </ul>
</div> {% endblock content %}